.image-container {
    display: inline-block;
}

.image-container img {
    display: block;
    transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
    transform: scale(1.1); /* Slightly enlarge the image */
}