<html xmlns:th="https://www.thymeleaf.org">

<script>
    const baseUrl = "http://localhost:8080/";
</script>

<head>
    <meta charset="UTF-8">
    <title th:text="${film.name}"/>
</head>
<body>

<div>
  <h1><a th:text="${film.name}"/></h1>
  <h2><a th:text="${film.year}" th:href="@{/film/year/{year}(year=${film.year})}"/></h2>

    <div>
        <h3>Director</h3>
        <ul>
            <li th:each="dir : ${film.director}">
                <a th:text="${dir.name}" th:href="@{/director/{directorName}(directorName=${dir.name})}"/>
            </li>
        </ul>
    </div>

    <div>
        <h3>Primary Language</h3>
        <a th:text="${film.primaryLanguage.name}" th:href="@{/film/language/primary/{languageName}(languageName=${film.primaryLanguage.name})}"/>
    </div>

    <div>
        <h3>Spoken Language</h3>
        <ul>
            <li th:each="lang : ${film.spokenLanguage}">
                <a th:text="${lang.name}" th:href="@{/film/language/spoken/{languageName}(languageName=${lang.name})}"/>
            </li>
        </ul>
    </div>

    <div>
        <h3>Country</h3>
        <ul>
            <li th:each="country : ${film.country}">
                <a th:text="${country.name}" th:href="@{/film/country/{countryName}(countryName=${country.name})}"/>
            </li>
        </ul>
    </div>

    <div>
        <h3>Runtime</h3>
        <p th:text="${film.runtime}"/>
    </div>

    <div>
        <h3>Average Rating</h3>
        <p th:text="${film.averageRating}"/>
    </div>

    <div>
        <h3>Genre</h3>
        <ul>
            <li th:each="genre : ${film.genre}">
                <a th:text="${genre.name}" th:href="@{/film/genre/{genreName}(genreName=${genre.name})}"/>
            </li>
        </ul>
    </div>

    <div>
        <h3>Studio</h3>
        <ul>
            <li th:each="studio : ${film.studio}">
                <a th:text="${studio.name}" th:href="@{/film/studio/{studioName}(studioName=${studio.name})}"/>
            </li>
        </ul>
    </div>
</div>

</body>
</html>